/* Betterrev CSS that overrides Twitter Bootstrap */

body {
    padding-top: 70px;
}

table {
    font-size: 12px;
}

th {
    white-space: nowrap;
}


.actionColumn {
    width: 5%;
}

.br-icon {
    vertical-align: inherit;
}

.br-iconCaption {
    display: inline-block;
    font-weight: bold;
    font-size: 16pt;
    font-variant: small-caps;
    margin-bottom: 12px;
}

.console-output {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: small;
}

.tooltip-inner {
    max-width: 350px;
}

.verticalSpacer {
    height: 6px;
}
